@import "_font";
@import "_colors";

.bg-custom {
    width: 100vh;
    height: 100vh;
    background-color: $LightGray;
}

.box {
    height: auto;
    width: 300px;
    background-color: $White;
}

p {
    color: $GrayishBlue;
}

@media (max-height:550px) {
    .bg-custom {
        height: 550px;
    }
}