@import "_font";
@import "_colors";

.bg-custom{
    height: 100vh;
    width: 100vh;
    background-color: $LightGray;
}
.box{
    height: auto;
    width: 300px;
    background-color: $White;
}
p{
    color: $GrayishBlue;
}

@media (max-width:1024px) {

}