@import "_font";
@import "_colors";

// <<<<<<<<  Navbar Css  >>>>>>>> //
.nav-link{
    font-weight: 500 !important;
    color: #000 !important;
    transition: 0.2s ease-in-out !important;
}
.nav-link:hover{
    color: $navBarHover !important;
    transition: 0.2s ease-in-out;
}
.navbar-nav .nav-link.active{
    color: $navBarHover !important;
}
.btn-gradiant-color{
    background: rgb(88,113,237);
    background: linear-gradient(90deg, rgba(88,113,237,1) 0%, rgba(44,216,252,1) 100%);
border: none !important;
}
// <<<<<<<<  Navbar Css  >>>>>>>> //
// <<<<<<<<  Header Css  >>>>>>>> //
.btn-color-background-header{
    background:rgb(75,142,241) !important;
border: none !important;
}
// <<<<<<<<  Header Css  >>>>>>>> //