@font-face {
    font-family: "inter-r";
    src: url(/Assets/Font/Inter-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "inter-b";
    src: url(/Assets/Font/Inter-Bold.ttf) format("ttf");
}

body{
    font-size: 18px;
}